<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="dog icon" href="static/images/dog.png">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color: #344955">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Waqq.ly
            </a>
        </div>
        {% if show_button %}
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" id="sign-out"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>

<div class="container text-center">
    {% block content %}{% endblock %}
</div>
<script src="/static/js/delete_cookie.js"></script>
</body>
</html>
