{% extends "base.html" %}

{% block title %}Waqq.ly Website{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h2>Lorem Ipsum</h2>
        <p>Lorem Ipsum</p>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Table Header 1
                    </th>
                    <th class="text-center">Table Header 2
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Lorem Ipsum
                    </td>
                    <td>Lorem Ipsum
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}