{% extends "base.html" %}

{% block title %}Waqq.ly Website{% endblock %}

{% block content %}
{% if submitted %}
<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    Content submitted successfully!
</div>
{% endif %}
<form id="dog-form" action="/submit" method="post">
    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget -->
    <img class="mb-4" src="static/images/pawprint.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required
           autofocus>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br>
    <div style="display: flex; justify-content: space-between;">
        <div style="flex-grow: 1;">
            <input type="checkbox" checked="checked" name="dog_walker" id="dogWalkerCheckbox">
            <label for="dogWalkerCheckbox">Dog Walker</label>
        </div>
        <div style="flex-grow: 1;">
            <input type="checkbox" name="dog_owner" id="dogOwnerCheckbox"> <label for="dogOwnerCheckbox">Dog
            Owner</label>
        </div>
    </div>
    <div id="dog-inputs" style="display: none;">
        <div class="form-group" style="display: flex; align-items: center;">
            <label for="dog"></label>
            <input type="text" class="form-control dog-input" id="dog" name="dog" placeholder="Pet name"
                   style="flex: 1; margin-right: 5px;">
            <label for="breed"></label>
            <input type="text" class="form-control dog-input" id="breed" name="breed" placeholder="Breed"
                   style="flex: 1; margin-right: 5px;">
            <label for="age"></label>
            <input type="number" class="form-control dog-input" id="age" name="age" placeholder="Age"
                   style="flex: 1; margin-right: 70px;" min="0">
        </div>
    </div>
    <div id="additional-pet-buttons" style="display: none; justify-content: space-between;">
        <button type="button" class="btn btn-primary" id="add-dog">Add Additional Pet</button>
        <button type="button" id="clear-all" class="btn btn-danger">Clear All</button>
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted" style="margin-top: 10px;">&copy; Waqq.ly 2024</p>
</form>

<script src="/static/js/add_additional_pet.js"></script>
{% endblock %}