{% extends "base.html" %}

{% block title %}Waqq.ly Website{% endblock %}

{% block content %}
<form id="dog-form" action="/submit" method="post">
    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget -->
    <img class="mb-4" src="static/images/pawprint.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
    <div style="display: flex; align-items: center;">
        <label for="inputUser" class="sr-only">User</label>
        <input type="text" name="user" id="inputUser" class="form-control" placeholder="Username" required autofocus
               style="margin-right: 5px;">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required
               autofocus style="margin-left: 5px;">
        <label for="inputLocation" class="sr-only">Location</label>
        <input type="text" name="location" id="inputLocation" class="form-control" placeholder="Location" required
               autofocus style="margin-left: 5px;">
    </div>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br>
    <label for="inputPasswordCheck" class="sr-only">Password</label>
    <input type="password" name="password_check" id="inputPasswordCheck" class="form-control" placeholder="Re-enter Password"
           required>
    <br>
    <fieldset style="display: flex; justify-content: space-between;">
        <div style="flex-grow: 1;">
            <input type="radio" name="dog_walker" id="dogWalkerCheckbox">
            <label for="dogWalkerCheckbox">Dog Walker</label>
        </div>
        <div style="flex-grow: 1;">
            <input type="radio" name="dog_owner" id="dogOwnerCheckbox"> <label for="dogOwnerCheckbox">Dog
            Owner</label>
        </div>
    </fieldset>
    {% if existing %}
    <div id="existingAlert" class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% if existing_field == 'user' %}
        Username already exists
        {% elif existing_field == 'email' %}
        Email already exists
        {% endif %}
    </div>

    <script>
        setTimeout(function () {
            document.getElementById('existingAlert').style.display = 'none';
        }, 5000);
    </script>
    {% endif %}

    {% if password_mismatch %}
    <div id="passwordMismatchAlert" class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Passwords do not match
    </div>

    <script>
        setTimeout(function () {
            document.getElementById('passwordMismatchAlert').style.display = 'none';
        }, 5000);
    </script>
    {% endif %}
    <div id="dog-inputs" style="display: none;">
        <div class="form-group" style="display: flex; align-items: center;">
            <label for="dog"></label>
            <input type="text" class="form-control dog-input" id="dog" name="name" placeholder="Pet name"
                   style="flex: 1; margin-right: 5px;">
            <label for="breed"></label>
            <input type="text" class="form-control dog-input" id="breed" name="breed" placeholder="Breed"
                   style="flex: 1; margin-right: 5px;">
            <label for="age"></label>
            <input type="number" class="form-control dog-input" id="age" name="age" placeholder="Age"
                   style="flex: 1; margin-right: 70px;" min="0" max="40">
        </div>
    </div>
    <div id="additional-pet-buttons" style="display: none; justify-content: space-between;">
        <button type="button" class="btn btn-primary" id="add-dog">Add Additional Pet</button>
        <button type="button" id="clear-all" class="btn btn-danger">Clear All</button>
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <br>
    <p class="mt-3 mb-3 text-muted">Back to <a href="/">Login</a></p>
    <p class="mt-5 mb-3 text-muted" style="margin-top: 10px;">&copy; Waqq.ly 2024</p>
</form>

<script src="/static/js/add_additional_pet.js"></script>

{% endblock %}